//
// Colors
//

$color-green: #3f4a49;
$color-orange: #fa3c27;
$color-extra-orange: #dc3522;
$color-dark-fonts: #374140;
$color-extra-dark-fonts: #2a2c2b;


$tablet: "only screen and (max-width: 960px)";
$mobile: "only screen and (max-width: 600px)";
