//
// Colors
//

$color-darkest-gray: #191e23;
$color-emerge-blue: #3455a5;
$color-indigo-blue: #8393a5;
$color-pink: #ed145b;

$color-green: #3f4a49;
$color-orange: #fa3c27;
$color-dark-fonts: #374140;
