/**
 * Forms
 */

#{$all-text-inputs}, textarea {
    // border-radius: 3px;
    @include form-element;
}

input[type="text"], textarea {
    border: 1px solid $color-dark-fonts;
    color: $color-dark-fonts;
    position: relative;

    &::-webkit-input-placeholder { color: $color-dark-fonts; }
    &:-moz-placeholder { color: $color-dark-fonts; }
    &::-moz-placeholder { color: $color-dark-fonts; }
    &:-ms-input-placeholder { color: $color-dark-fonts; }
}

input[type="text"]:focus, textarea:focus {
    -webkit-box-shadow:inset 0 0 0 2px #fa3c27;
    box-shadow:inset 0 0 0 2px #fa3c27;
    &::-webkit-input-placeholder { color: transparent; }
    &:-moz-placeholder { color: transparent; }
    &::-moz-placeholder { color: transparent; }
    &:-ms-input-placeholder { color: transparent; }
}

textarea {
    min-height: rem-calc(100px);
    resize: vertical;
}
