//
// View: Home
//

$hero-height: rem-calc(386px);

#view-home {
    padding-top: $hero-height;
}

#home-hero {
    padding-top: 4em;
    height: $hero-height;
    background: #c3c3c3 url("../img/bg-home-hero.jpg") 0px 60px;
    background-size: cover;
    -webkit-box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.2);
    color: white;
    // text-align: center;
    @include scut-fixed(0 0 n 0);

    color: $color-extra-orange;

    h1 {
        margin: 0;
        font-size: em-calc(42px);
        color: $color-extra-orange;
        font-weight: 300;
        b {
            font-weight: 500;
        }

        span{
            color: $color-extra-dark-fonts;
        }
    }
    p {
        margin: 0;
        font-size: em-calc(16px);
        font-family: 'Noto Sans', sans-serif;
        text-shadow: 0 1px 1px #000;
        span {
            display: block;
        }

    }
    .content{
        @include grid-column($columns: 8);
        margin-top: 120px;
        padding-left: 120px;

        // .logo{
        //     display: block;
        //     width: 120px;
        //     height: 110px;
        // }
    }
}

#hero-cta {
    padding: 1rem 0;
    background: rgba(255,255,255,.10);
    border-top: 1px solid rgba(255,255,255,.25);
    text-align: center;
    @include scut-absolute(n 0 0 0);

    span {
        font-size: rem-calc(24px);
        font-weight: bold;
    }

    .button {
        margin: 0 0 0 2rem;
    }
}


// Summits section
.contain-left, .contain-right {

    @include grid-column($columns: 6);

    height: rem-calc(300px);

    h2{
        padding-left: 55px;
        padding-bottom: 10px;
    }
    span{
        color: $color-orange;
    }

    p{
        font-family: 'Noto Sans', sans-serif;
    }
}

.contain-left{
    border-right: 1px solid $color-orange;
    padding-right: 60px;
    padding-left: 0;

    h2{
        background: url('../img/monitor.png') 0px 5px no-repeat;
    }
}

.contain-right{

    padding-left: 60px;
    padding-right: 0;

    h2{
        background: url('../img/skills.png') 0px 5px no-repeat;
    }
}

.home-summits-nav {
    float: left;
}

.home-summits-content {
    float: right;
    text-align: left;
    @include scut-vcenter-td(".content");
    h2 {
        text-align: left;
    }
}

#home-overview{

}

#home-work{
    height: 550px;
    @extend %pattern;
}

.work-list{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.work-item{
    border: 3px solid $color-extra-dark-fonts;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 180px;

    position: relative;
    overflow: hidden;

    -webkit-box-shadow:inset 0 0 10px 5px rgba(0,0,0,0.6);
    box-shadow:inset 0 0 10px 5px rgba(0,0,0,0.6);

    float: left;

    &.big{
        width: 430px;
        background: url(../img/big.jpg);
        background-size: cover;
    }

    &.medium{
        width: 290px;
        background: url(../img/medium.jpg);
        background-size: cover;
    }

    &.small{
        width: 250px;
        background: url(../img/small.jpg);
        background-size: cover;
    }

    &.last{
        margin-right: 0;
    }

    .circle{
        position: absolute;
        height: 500px;
        width: 400px;
        top: 50%;
        margin-top: -250px;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        border-radius: 400px;
    }

    .work-sum{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: $color-orange;
        border-radius: 200px;
        transition: all 0.5s ease-out;
    }

    &:hover .work-sum{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 200px;
    }
}

// The Experience
#home-experience {
    .h2 {
        line-height: 1
    }
    p {
        margin: 1rem 0 0;
        font-size: rem-calc(18px);
    }
}

// In-page banner
#home-experience-subhero {
    height: 350px;
    background: url("../img/img-home-subhero.jpg") center top;
    background-size: cover;

    &:after {
        background: url("../img/img-home-subhero-logo.png");
        content: '';
        @include scut-center-absolutely(96px 108px);
    }
}

// Location map
#view-home #map {
    .map-description {
        margin-left: rem-calc(-475px);
        z-index: 1;
        @include scut-absolute(3rem n n 50%);
        p {
            margin: 0;
            font-size: rem-calc(18px);
        }
    }
}

// Exhibitions
// #home-exhibitions {
//     h2 {
//         margin-bottom: 2rem;
//     }
//     li {
//         position: relative;
//         padding-top: 9rem;
//         padding-bottom: 0;
//         text-align: center;
//     }
//     a {
//         @include scut-absolute(0 rem-calc(13px) n rem-calc(13px));
//     }
//     p {
//         margin: 0;
//         font-size: rem-calc(15px);
//     }
// }

// Quotes grid
#home-quotes {
    position: relative;
    overflow: hidden;

    header {
        z-index: 1;
        padding: 1rem 0 2rem;
        text-align: center;
        @include scut-absolute(0 0 n 0);
        @include background(linear-gradient(white 50%, rgba(255, 255, 255, 0) 100%));

        h2 {
            margin: 1rem 0;
            font-size: rem-calc(42px);
        }
    }

    .quotes-grid {
        margin: 0 -10rem -5.5rem;
    }
}

