//
// View: Home
//

$hero-height: rem-calc(500px);

#view-home {
    padding-top: $hero-height;
}

#home-hero {
    padding-top: 7em;
    height: $hero-height;
    background: url("../img/bg-home-hero.jpg") center;
    background-size: cover;
    color: white;
    text-align: center;
    @include scut-fixed(0 0 n 0);
    h1 {
        margin: 0;
        margin-top: 100px;
        color: white;
        font-size: em-calc(60px);
        font-weight: 300;
        text-transform: uppercase;
        b {
            font-weight: 500;
        }
    }
    p {
        margin: 0;
        font-size: em-calc(20px);
        span {
            display: block;
        }
    }
}

#hero-cta {
    padding: 1rem 0;
    background: rgba(255,255,255,.10);
    border-top: 1px solid rgba(255,255,255,.25);
    text-align: center;
    @include scut-absolute(n 0 0 0);

    span {
        font-size: rem-calc(24px);
        font-weight: bold;
    }

    .button {
        margin: 0 0 0 2rem;
    }
}


// Summits section
.home-summits-nav, .home-summits-content {
    @include grid-column($columns: 6);
    height: rem-calc(425px);
}

.home-summits-nav {
    float: left;
}

.home-summits-content {
    float: right;
    text-align: left;
    @include scut-vcenter-td(".content");
    h2 {
        text-align: left;
    }
}

// The Experience
#home-experience {
    .h2 {
        line-height: 1
    }
    p {
        margin: 1rem 0 0;
        font-size: rem-calc(18px);
    }
}

// In-page banner
#home-experience-subhero {
    height: 350px;
    background: url("../img/img-home-subhero.jpg") center top;
    background-size: cover;

    &:after {
        background: url("../img/img-home-subhero-logo.png");
        content: '';
        @include scut-center-absolutely(96px 108px);
    }
}

// Location map
#view-home #map {
    .map-description {
        margin-left: rem-calc(-475px);
        z-index: 1;
        @include scut-absolute(3rem n n 50%);
        p {
            margin: 0;
            font-size: rem-calc(18px);
        }
    }
}

// Exhibitions
// #home-exhibitions {
//     h2 {
//         margin-bottom: 2rem;
//     }
//     li {
//         position: relative;
//         padding-top: 9rem;
//         padding-bottom: 0;
//         text-align: center;
//     }
//     a {
//         @include scut-absolute(0 rem-calc(13px) n rem-calc(13px));
//     }
//     p {
//         margin: 0;
//         font-size: rem-calc(15px);
//     }
// }

// Quotes grid
#home-quotes {
    position: relative;
    overflow: hidden;

    header {
        z-index: 1;
        padding: 1rem 0 2rem;
        text-align: center;
        @include scut-absolute(0 0 n 0);
        @include background(linear-gradient(white 50%, rgba(255, 255, 255, 0) 100%));

        h2 {
            margin: 1rem 0;
            font-size: rem-calc(42px);
        }
    }

    .quotes-grid {
        margin: 0 -10rem -5.5rem;
    }
}

