//
// View: Work
//


.work-area{
    text-align: center;
}


.work-left{

    padding: 75px 0;
    @include grid-column($columns: 4);

    h2{
        letter-spacing: -1px;
        b{
            color: $color-orange;
        }
        font-size: rem-calc(24px);
    }

    ul, p, h2{
        text-align: left;
    }

    font-size: rem-calc(14px);
    font-family: 'Noto Sans', sans-serif;
}

.work-logo{
    margin-bottom: 40px;
}

.work-right{
    padding: 95px 0;
    background-color: white;
    border-left: 1px solid #e3e4e4;

    @include grid-column($columns: 8);
}

#view-work{
    padding: 120px 0;

    h2{
        padding-bottom: 35px;
    }
}
